blinker==1.8.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
Flask==3.0.3
Flask-Cors==4.0.1
fonttools==4.53.0
h3==3.7.7
itsdangerous==2.2.0
Jinja2==3.1.4
kepler==0.0.1
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pillow==10.3.0
pip==24.0
plotly==5.22.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tenacity==8.4.1
traitlets==5.14.3
tzdata==2024.1
Werkzeug==3.0.3
