# [MAIN_SERVER]
# ip=127.0.0.1
# port=11111

# [DB_SERVER]
# ip=127.0.0.1
# port=33333

[DP_SERVER]
ip=127.0.0.1
port=55555

[SKALD_SERVER]
ip = 127.0.0.1
port = 8071
url = http://127.0.0.1:8071/


[RESOURCE_SERVER]
url = https://authenclave.iudx.io/diffpriv_resource_server/
username = provider
password = EpiphanyDimlyDoorwayEconomic
