body{
    font-family: 'Georgia';
    background-color: #f5f5f5;
    color: #333;
}

h1{
    text-align: center;
}

.description{
    text-align: center;
    font-style: italic;
    font-size: 1.5em;
    margin-bottom: 2rem;
}

.description2{
    text-align: center;
    font-style: italic;
    font-size: 1em;
}

.epsilon{
    font-size: 1.2em;
    margin-left: 1rem;
}

.line-plot{
    width: 50%;
}

.heatmap-plot{
    width: 50%;
}

.graph-container{
    display: flex;

}

.epsilon-container{
    background-color: white;
    margin: 2rem 8rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid;
}

table {
    width: 60%;
    margin: auto;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
}

th, td {
    text-align: center;
    padding: 0.5rem 3rem;
}

.lap-bounds-container {
    text-align: center;
    margin-bottom: 2rem;
    /* margin-left: 4rem;
    margin-bottom: 2rem; */ 
}

/* .tbl-row1:nth-child(even) {
    background-color: #c1c1c1;
}

.tbl-row2:nth-child(even) {
    background-color: #c1c1c1;
} */

.conc-algo-container {
    margin: auto;
    padding:  0.3rem 3rem;
    background-color: #dadada;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.conc-algo {
    font-size: 1.2rem;
    text-align: center;
}